<div class="auth-page">
  <div class="container page">
    <div class="row">
      <div class="col-md-6 offset-md-3 col-xs-12">
        <h1 class="text-xs-center">Sign up</h1>
        <p class="text-xs-center">
          <a href="/login">Have an account?</a>
          <%= @eeee %>
        </p>

        <ul class="error-messages">
          <li>That email is already taken</li>
        </ul>

        <%= form_with model:@user, :url => {:action => :create},method: :post do |form| %>
          <fieldset>
            <fieldset class="form-group">
              <%= form.text_field :name, placeholder: "Name", class: "form-control" %>
            </fieldset>
            <fieldset class="form-group">
              <%= form.text_field :email, placeholder: "E-mail", class:"form-control" %>
            </fieldset>
            <fieldset class="form-group">
              <%= form.password_field :password, placeholder: "Password", class: "form-control" %>
            </fieldset>
            <%= form.submit class: "btn btn-lg pull-xs-right btn-primary" %>
            </button>
          </fieldset>
        <% end %>
      </div>
    </div>
  </div>
</div>